# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Visual Studio cache/options directory
.vs/
*.VC.db
*.VC.VC.opendb

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
!**/[Pp]ackages/repositories.config

# Build results of NuGet package restore
project.lock.json
project.fragment.lock.json
artifacts/

# Publish folder
publish/
PublishOutput/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# VS Code
.vscode/

# JetBrains Rider
.idea/
*.sln.iml

# Web workbench
.sass-cache/

# Local environment files
*.local

# Application Insights
ApplicationInsights.config

# IIS Express
.iis/
